In [21]:
import pandas as pd

In [22]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=200)
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,1,2021-01-01 00:12:48,2021-01-01 00:27:14,1,4.10,1,N,249,142,1,14.5,3.0,0.5,5.45,0.0,0.3,23.75,2.5
196,2,2021-01-01 00:20:29,2021-01-01 00:32:56,1,2.96,1,N,239,229,1,12.0,0.5,0.5,3.16,0.0,0.3,18.96,2.5
197,2,2021-01-01 00:59:24,2021-01-01 01:22:59,1,7.35,1,N,48,195,1,23.0,0.5,0.5,5.36,0.0,0.3,32.16,2.5
198,1,2021-01-01 00:32:58,2021-01-01 00:40:59,3,2.50,1,N,142,75,1,9.5,3.0,0.5,2.50,0.0,0.3,15.80,2.5
199,1,2021-01-01 00:41:19,2021-01-01 00:49:39,1,2.70,1,N,230,145,1,10.0,3.0,0.5,2.75,0.0,0.3,16.55,2.5

In [23]:
from sqlalchemy import create_engine

# Format URL: 'postgresql://[user]:[password]@[host]:[port]/[dbname]'
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [24]:
engine

Engine(postgresql://root:***@localhost:5432/ny_taxi)

In [25]:
# Membagi data dalam chunk
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

# Mendapatkan chunk pertama dan menyimpannya ke dalam variabel df
df = next(df_iter)

In [27]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [28]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: total: 2.14 s
Wall time: 12.1 s

1000

In [29]:
# Mengimpor modul time untuk tracking waktu
from time import time

# Loop yang akan berjalan terus sampai terjadi exception (seperti StopIteration)
while True:
    t_start = time()    # Menandai waktu mulai proses

    df = next(df_iter)  # Mengambil chunck berikutnya dari iterator df_iter

    # Mengubah kolom tpep_pickup_datetime dan tpep_dropoff_datetime
    # dari format string ke datetime menggunakan pandas.to_datetime
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    # Menyimpan DataFrame ke dalam tabel SQL 'yellow_taxi_data'.
    # - 'con=engine' menggunakan engine SQLAlchemy yang telah dibuat sebelumnya untuk koneksi database.
    # - 'if_exists='append'' berarti bahwa data akan ditambahkan ke tabel jika tabel itu sudah ada.
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()  # Menandai waktu akhir proses

    # Mencetak waktu yang diperlukan untuk memproses dan memasukkan chunk data tersebut
    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 14.475 second
inserted another chunk, took 12.912 second
inserted another chunk, took 15.421 second
inserted another chunk, took 12.957 second
inserted another chunk, took 14.056 second
inserted another chunk, took 15.015 second
inserted another chunk, took 11.880 second
inserted another chunk, took 23.071 second
inserted another chunk, took 24.631 second
inserted another chunk, took 25.250 second
inserted another chunk, took 24.018 second

C:\Users\azizd\AppData\Local\Temp\ipykernel_8296\3108173367.py:8: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)  # Mengambil chunck berikutnya dari iterator df_iter

inserted another chunk, took 24.311 second
inserted another chunk, took 14.690 second

StopIteration: